doctype html
html
  head
    include ../partials/head.pug
    link(rel='stylesheet', href='/stylesheets/matches-list.css',type='text/css')
  body
    include ../partials/jumbotron-navbar.pug
    .page-content        
        h1=varTitle
        table.table
            thead
                tr
                    th Name
                    th Price
                    th Actions
            tbody
                a.btn.btn-success.btn-lg(href= '/add-match' role='button' aria-disabled='true') Add Match
                //- each match in varMatches
                //-     tr
                //-       td team1
                //-       td team2 
                //-       td city
                //-       td date       
                //-       td
                //-         a(href="matches/view/"+ match._id class="btn btn-danger") View
